## Two Main Types of Plotly Mapping Objects

<ul>
    <li> <h3> Data Object </h3>- a list object that contains a dictionary specifying each of the parameters for the map's data object </li>
    
<li> <h3> Layout Object </h3> - a nested dictionary object that specifies each of the parameters for the map's layout </li>

</ul>

## Choropleth Maps

Maps where color represents data quantity.

Requirements: code parameters to select geographical areas by name, (like 'US States')

## Point Maps

Geographical maps with dots placed at specific spatial locations that represent data points. Dot size, color and shape can be varied.

Requirements: you need to provide precise x-, y-position data for each observation

Data parameter: type='scattergeo'

In [1]:
import numpy as np
import pandas as pd 

import plotly.plotly as py
import plotly.tools as tls

In [2]:
tls.set_credentials_file(username='Nikola1zg', api_key='1bIuwQbgBhP0Cyo37Ozp')

## Generating Chorolpleth maps

In [3]:
address = 'C:/Users/Nikola/Documents/Data Science/LinkedIn/Ex_Files_Python_Data_Science_EssT/Exercise Files/Ch09/09_03/States.csv'
states = pd.read_csv(address)
states.columns = ['code', 'region', 'pop', 'satv', 'satm', 'percent', 'dollars', 'pay']
states.head()

  code region    pop  satv  satm  percent  dollars  pay
0   AL    ESC   4041   470   514        8    3.648   27
1   AK    PAC    550   438   476       42    7.887   43
2   AZ    MTN   3665   445   497       25    4.231   30
3   AR    WSC   2351   470   511        6    3.334   23
4   CA    PAC  29760   419   484       45    4.826   39

In [4]:
states.describe()

                pop        satv        satm    percent    dollars        pay
count     51.000000   51.000000   51.000000  51.000000  51.000000  51.000000
mean    4876.647059  448.156863  497.392157  33.745098   5.175490  30.941176
std     5439.202691   30.821014   34.568817  24.073922   1.376166   5.308151
min      454.000000  397.000000  437.000000   4.000000   2.993000  22.000000
25%     1215.000000  422.500000  470.000000  11.500000   4.354000  27.500000
50%     3294.000000  443.000000  490.000000  25.000000   5.045000  30.000000
75%     5780.000000  474.500000  522.500000  57.500000   5.689500  33.500000
max    29760.000000  511.000000  577.000000  74.000000   9.159000  43.000000

In [5]:
states['text'] = 'SATv' +states['satv'].astype(str) + 'SATm' +states['satm'].astype(str) +'<br>' 
'State' + states['code']

0     StateAL
1     StateAK
2     StateAZ
3     StateAR
4     StateCA
5     StateCO
6     StateCN
7     StateDE
8     StateDC
9     StateFL
10    StateGA
11    StateHI
12    StateID
13    StateIL
14    StateIN
15    StateIA
16    StateKS
17    StateKY
18    StateLA
19    StateME
20    StateMD
21    StateMA
22    StateMI
23    StateMN
24    StateMS
25    StateMO
26    StateMT
27    StateNE
28    StateNV
29    StateNH
30    StateNJ
31    StateNM
32    StateNY
33    StateNC
34    StateND
35    StateOH
36    StateOK
37    StateOR
38    StatePA
39    StateRI
40    StateSC
41    StateSD
42    StateTN
43    StateTX
44    StateUT
45    StateVT
46    StateVA
47    StateWA
48    StateWV
49    StateWI
50    StateWY
Name: code, dtype: object

In [6]:
data = [dict(type='choropleth', autocolorscale=False, locations= states['code'], z=states['dollars'], locationmode='USA-states', 
            text = states['text'], colorscale ='Earth', colorbar = dict(title='thousand dollars'))]

data

[{'type': 'choropleth', 'autocolorscale': False, 'locations': 0     AL
  1     AK
  2     AZ
  3     AR
  4     CA
  5     CO
  6     CN
  7     DE
  8     DC
  9     FL
  10    GA
  11    HI
  12    ID
  13    IL
  14    IN
  15    IA
  16    KS
  17    KY
  18    LA
  19    ME
  20    MD
  21    MA
  22    MI
  23    MN
  24    MS
  25    MO
  26    MT
  27    NE
  28    NV
  29    NH
  30    NJ
  31    NM
  32    NY
  33    NC
  34    ND
  35    OH
  36    OK
  37    OR
  38    PA
  39    RI
  40    SC
  41    SD
  42    TN
  43    TX
  44    UT
  45    VT
  46    VA
  47    WA
  48    WV
  49    WI
  50    WY
  Name: code, dtype: object, 'z': 0     3.648
  1     7.887
  2     4.231
  3     3.334
  4     4.826
  5     4.809
  6     7.914
  7     6.016
  8     8.210
  9     5.154
  10    4.860
  11    5.008
  12    3.200
  13    5.062
  14    5.051
  15    4.839
  16    5.009
  17    4.390
  18    4.012
  19    5.894
  20    6.184
  21    6.351
  22    5.257
  23    5.260
  24    3.322
  25    4.415
  26    5.184
  27    4.381
  28    4.564
  29    5.504
  30    9.159
  31    4.446
  32    8.500
  33    4.802
  34    3.685
  35    5.639
  36    3.742
  37    5.291
  38    6.534
  39    6.989
  40    4.327
  41    3.730
  42    3.707
  43    4.238
  44    2.993
  45    5.740
  46    5.360
  47    5.045
  48    5.046
  49    5.946
  50    5.255
  Name: dollars, dtype: float64, 'locationmode': 'USA-states', 'text': 0     SATv470SATm514<br>
  1     SATv438SATm476<br>
  2     SATv445SATm497<br>
  3     SATv470SATm511<br>
  4     SATv419SATm484<br>
  5     SATv456SATm513<br>
  6     SATv430SATm471<br>
  7     SATv433SATm470<br>
  8     SATv409SATm441<br>
  9     SATv418SATm466<br>
  10    SATv401SATm443<br>
  11    SATv404SATm481<br>
  12    SATv466SATm502<br>
  13    SATv466SATm528<br>
  14    SATv408SATm459<br>
  15    SATv511SATm577<br>
  16    SATv492SATm548<br>
  17    SATv473SATm521<br>
  18    SATv476SATm517<br>
  19    SATv423SATm463<br>
  20    SATv430SATm478<br>
  21    SATv427SATm473<br>
  22    SATv454SATm514<br>
  23    SATv477SATm542<br>
  24    SATv477SATm519<br>
  25    SATv473SATm522<br>
  26    SATv464SATm523<br>
  27    SATv484SATm546<br>
  28    SATv434SATm487<br>
  29    SATv442SATm486<br>
  30    SATv418SATm473<br>
  31    SATv480SATm527<br>
  32    SATv412SATm470<br>
  33    SATv401SATm440<br>
  34    SATv505SATm564<br>
  35    SATv450SATm499<br>
  36    SATv478SATm523<br>
  37    SATv439SATm484<br>
  38    SATv420SATm463<br>
  39    SATv422SATm461<br>
  40    SATv397SATm437<br>
  41    SATv506SATm555<br>
  42    SATv483SATm525<br>
  43    SATv413SATm461<br>
  44    SATv492SATm539<br>
  45    SATv431SATm466<br>
  46    SATv425SATm470<br>
  47    SATv437SATm486<br>
  48    SATv443SATm490<br>
  49    SATv476SATm543<br>
  50    SATv458SATm519<br>
  Name: text, dtype: object, 'colorscale': 'Earth', 'colorbar': {'title': 'thousand dollars'}}]

Let's create layout. As you can see it's necessary to be careful with sintax in Plotly

In [7]:
layout = dict(title='State Spending on Publice Education in $k per Student',
             geo= dict(scope='usa', projection=dict(type='albers usa'), 
                      showlakes = True, lakecolor ='rgb(66,165,245)',),)
layout

# we created nested dictionary with parameters for layout :)

{'title': 'State Spending on Publice Education in $k per Student',
 'geo': {'scope': 'usa',
  'projection': {'type': 'albers usa'},
  'showlakes': True,
  'lakecolor': 'rgb(66,165,245)'}}

Now it's time to combine data and layout objects...

In [8]:
fig = dict(data=data, layout=layout)

py.iplot(fig, filename='USA-choropleth-map')

C:\Users\Nikola\Anaconda3\lib\site-packages\IPython\core\display.py:694: UserWarning:

Consider using IPython.display.IFrame instead

## Generating point maps

In [14]:
address = 'C:/Users/Nikola/Documents/Data Science/LinkedIn/Ex_Files_Python_Data_Science_EssT/Exercise Files/Ch09/09_04/snow_inventory.csv'

snow = pd.read_csv(address)

snow.columns = ['stn_id', 'lat', 'long', 'elev', 'code']

snow.head()

        stn_id      lat      long   elev code
0  AQW00061705 -14.3306 -170.7136    3.7   AS
1  CQC00914080  15.2136  145.7497  252.1   MP
2  CQC00914801  14.1717  145.2428  179.2   MP
3  CQC00914855  15.1189  145.7294   65.5   MP
4  CQC00914874  15.0000  145.6333   81.7   MP

In [15]:
snow.describe()

               lat         long         elev
count  6376.000000  6376.000000  6376.000000
mean     38.208176   -95.883707   514.397004
std       6.919034    26.033140   570.232272
min     -14.330600  -177.383300  -999.900000
25%      34.331950  -106.447200   137.200000
50%      38.675300   -95.631800   294.100000
75%      42.365200   -85.270575   659.225000
max      71.283300   174.100000  3442.400000

6376 is too much, let's take smaller sample

In [19]:
snow_sample = snow.sample(n=200, random_state=25, axis = 0)

snow_sample.describe()

              lat        long         elev
count  200.000000  200.000000   200.000000
mean    37.831641  -94.391841   527.685000
std      6.193920   22.075591   574.005755
min      9.483300 -159.404400     1.200000
25%     34.174350 -103.337250   171.875000
50%     38.306100  -94.758750   313.900000
75%     42.137175  -84.903800   655.400000
max     48.692800  138.083300  3259.500000

Mean didn't change too much, nor std - looks representative

In [20]:
data = [dict(type='scattergeo', locationmode='USA-states', lon=snow_sample['long'], lat = snow_sample['lat'],
           marker = dict(size=12, autocolorscale=False, colorscale='custom-colorscale',
                        color = snow_sample['elev'], colorbar=dict(title='Elevation (m)')) )]

In [26]:
layout = dict(title='NOAA Wearher Snowfall Station Elevations', colorbar = True,
             geo = dict(scope='USA', projection = dict(type='albers usa'),
                       showland=True, landcolor = 'rgb(250,250,250)',
                       subunitcolor = 'rgb(217,217,217)', countrycolor ='rgb(217,217,217)',
                       countrywidth = 0.5, subunitwidth = 0.5),)

In [27]:
fig = dict(data=data, layout=layout)

py.iplot(fig, validate=False, filename='d3 - elevation')